.gradient-custom {
    background: #151515;
    background: linear-gradient(to right bottom, rgb(14, 14, 14), rgb(49, 49, 49))
}

a {
    text-decoration: none;
    color: #f4f5f7;
}

a:hover {
    text-decoration: none;
    color: #cbcbcb;
}

.table {
    background: white;
}

.login, .home, .flight, .profile, .tickets, .pay {
    background: url("/assets/img/fondo_blur.jpg");
    background-size: cover;
    padding: 20px 0 60px 0;
}

.navbar-custom {
    height: 80px;

}

.login_title {
    font-size: 20px;
}

.home_p {
    font-size: 40px;
    color: white;
    padding: 150px 0 300px 0;
}

.botonVuelo {
    float: right;
}

.pay {
    padding-top: 200px;
    padding-bottom: 200px;
}

.payForm {
    background: white;
}

.price {
    display: flex;
}

.imgPrice {
    width: 40px;
    height: 30px;
}

.priceDiv {
    text-align: center;
}

.padding {
    padding: 5rem !important;
    margin-left: 300px;
}

.card {
    margin-bottom: 1.5rem;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #c8ced3;
    border-radius: .25rem;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f0f3f5;
    border-bottom: 1px solid #c8ced3;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.form-control:focus {
    color: #5c6873;
    background-color: #fff;
    border-color: #c8ced3 !important;
    outline: 0;
    box-shadow: 0 0 0 #F44336;
}