.gradient-custom {
    background: #151515;
    background: linear-gradient(to right bottom, rgb(14, 14, 14), rgb(49, 49, 49))
}

a {
    text-decoration: none;
    color: #f4f5f7;
}

a:hover {
    text-decoration: none;
    color: #cbcbcb;
}

.table {
    background: white;
}

.login, .home, .flight, .profile, .tickets, .pay{
    background: url("/assets/img/fondo_blur.jpg");
    background-size: cover;
    padding: 20px 0 60px 0;
}

.navbar-custom{
    height: 80px;

}

.login_title{
    font-size: 20px;
}

.home_p {
    font-size: 40px;
    color: white;
    padding: 150px 0 300px 0;
}

.botonVuelo{
    float: right;
}

.pay{
    padding-top: 200px;
    padding-bottom: 200px;
}

.payForm{
    background: white;
}