{{> header}}
{{> navbar}}
<section class="vh-100 profile" style="background-color: #f4f5f7;">
  <div class="container py-5 h-100">

    <div class="card">
      <div class="card-header gradient-custom text-white">
        <h5 class="my-1">Pasajes</h5>
      </div>
      <div class="card-body">
        <table class='table'>
          <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Fecha de partida</th>
            <th scope="col">Hora de partida</th>
            <th scope="col">Origen</th>
            <th scope="col">Destino</th>
            <th scope="col">Tipo de cabina</th>
            <th scope="col">Servicio</th>
            <th scope="col"></th>
          </tr>
          </thead>
          {{#tickets}}
          <tr>
            <td>{{id}}</td>
            <td>{{departure_date}}</td>
            <td>{{departure_hour}}</td>
            <td>{{departure}}</td>
            <td>{{destination}}</td>
            <td>{{type_cabin}}</td>
            <td>{{service}}</td>
            <td>
              <button class="btn btn-primary" type="button">
                <a href="/flight_plan/progress?id_ship={{id_ship}}&id_type_flight={{id_type_flight}}">
                  Dónde está mi nave <i class="fas fa-search"></i>
                </a>
              </button>
              <button class="btn btn-primary" type="button">
                <a href="/checkin/confirmTicketReservation?id_flight={{id_flight}}">
                  Hacer check-in <i class="fas fa-search"></i>
                </a>
              </button>
            </td>
          </tr>
          {{/tickets}}
        </table>
      </div>
    </div>

  </div>
</section>
{{> footer}}