{{> header}}
{{> navbar}}
<section class="vh-100 profile" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100" style="text-align: center">
            <div class="col col-lg-8 mb-4 mb-lg-0">
                <div class="card">
                    <div class="card-header gradient-custom text-white">
                        <h5 class="my-1">Búsqueda Fallida</h5>
                    </div>
                    <div class="card-body">
                        <h5 style="color: red">Lamentablemente el vuelo que buscaba sólo es permitido para clientes con
                            nivel de vuelo 3 </h5>
                        <br>
                        <a class="btn btn-outline-dark btn-m px-3" href="/">Volver a buscar</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{{> footer}}