{{> header}}
{{> navbar}}
<section>
    {{#enabledClient}}
    <h1 style="color: green">{{enabledClient}}{{#id_flight}}{{id_flight}}{{/id_flight}}</h1>
    {{/enabledClient}}

    {{#disabledClient}}
    <h1 style="color: red">{{disabledClient}}</h1>
    <a class="nav-link" href="/medicalcheckup"><button>Realizar chequeo</button></a>
    {{/disabledClient}}

    {{#notLogged}}
    <h1 style="color: red">{{notLogged}}</h1>
    <a class="nav-link" href="/login"><button>Iniciar sesión</button></a>
    {{/notLogged}}

</section>


{{> footer}}