{{> header}}
{{> navbar}}


<section class="vh-100 profile" id="section1" style="background-color: #f4f5f7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-8 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 text-center text-white homeSection"
                 style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem; background: url(/assets/img/ship.jpg); background-size: cover">

            </div>
            <div class="col-md-8">
              <form action="/flight_plan/searchFlightForm" method="post">
                <div class="card-body p-4">
                  <h5 te>¿A dónde quiere viajar?</h5>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6><label>Origen</label></h6>
                      <select aria-label=".form-select-lg example" class="form-select form-select-lg mb-3"
                              id="departureCity"
                              name="departure">
                        {{#departure}}
                        <option selected value={{departure}}>{{selectedDepartureName}}</option>
                        {{/departure}}
                        {{^departure}}
                        <option selected value=0>Seleccione una ciudad de origen</option>
                        {{/departure}}
                        {{#departureCities}}
                        <option value={{id}}>{{name}}</option>
                        {{/departureCities}}
                      </select>

                      {{#emptyDepartureError}}
                      <div style="color: red">
                        {{emptyDepartureError}}
                      </div>
                      {{/emptyDepartureError}}

                    </div>
                    <div class="col-6 mb-3">
                      <h6><label>Destino</label></h6>
                      <select aria-label=".form-select-lg example" class="form-select form-select-lg mb-3"
                              id="destinationCity"
                              name="destination">
                        {{#destination}}
                        <option selected value={{destination}}>{{selectedDestinationName}}</option>
                        {{/destination}}
                        {{^destination}}
                        <option selected value=0>Seleccione una ciudad de origen</option>
                        {{/destination}}
                        {{#destinationCities}}
                        <option value={{id}}>{{name}}</option>
                        {{/destinationCities}}
                      </select>


                      {{#emptyDestinationError}}
                      <div style="color: red">
                        {{emptyDestinationError}}
                      </div>
                      {{/emptyDestinationError}}
                    </div>
                  </div>
                  <div class="row pt-1">
                    <hr class="mt-0 mb-4">
                  </div>
                  <div class="col-6 mb-3">
                    <div class="row pt-1" style="padding-bottom: 50px; padding-left: 12px">
                      <h6><label>Elija una semana</label></h6>
                      <input class="form-control " id="week" name="week" type="week" value={{week}}>
                      <input hidden name="type" type="hidden" value={{type}}>

                      {{#emptyWeek}}
                      <div style="color: red">
                        {{emptyWeek}}
                      </div>
                      {{/emptyWeek}}

                    </div>
                  </div>
                  <div class="row pt-1" style="text-align: right">
                      <button class="btn btn-outline-dark btn-lg px-5" type="submit">Buscar</button>
                    </a>
                  </div>
                  <div class="errors">
                    {{#errors}}
                    <div style="color: red">
                      {{invalidWeek}}
                    </div>
                    <div style="color: red">
                      {{sameLocations}}
                    </div>
                    <div style="color: red">
                      {{invalidJourney}}
                    </div>
                    <div style="color: red">
                      {{badOrder}}
                    </div>
                    {{/errors}}
                  </div>


                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{> footer}}