{{> header}}
{{> navbar}}

<section class="flight">
    <div class="container py-5 h-100">
        <div class="container">
            <form method="post">
                <select id="typeFlight" name="typeFlight">
                    <option value="0" selected>Ingrese un tipo de vuelo</option>
                    <option value="1">Orbital</option>
                    <option value="2">Circuito corto</option>
                    <option value="3">Circuito largo</option>
                    <option value="4">Tour</option>
                </select>
                <button class="btn btn-outline-light btn-lg " type="submit" formaction="/flight/searchFlight">Buscar
                </button>
            </form>
        </div>
            <table class='table'>
                <thead>
                <tr>
                    <th scope="col">Tipo de viaje</th>
                    <th scope="col">Nave</th>
                    <th scope="col">Fecha de partida</th>
                    <th scope="col">Hora de partida</th>
                    <th scope="col">Origen</th>
                    <th scope="col">Destino</th>
                    <th scope="col"></th>

                </tr>
                </thead>
                {{#flights}}
                <tr>
                    <td>{{description}}</td>
                    <td>{{ship_model}}</td>
                    <td>{{departure_date}}</td>
                    <td>{{departure_time}}</td>
                    <td>{{departure}}</td>
                    <td>{{destination}}</td>
                    <td>{{id}}</td>
                    <td>{{id_type}}</td>
                    <td>
                        <a class="btn btn-primary" href="/ticket?id={{id}}">Reserva</a>
                    </td>
                </tr>
                {{/flights}}
            </table>
        {{#error}}
        <div style="color: red">{{error}}</div>
        {{/error}}
        <a href="http://localhost">
            <button class="btn btn-outline-light btn-lg px-5" type="submit">Volver</button>
        </a>
    </div>
</section>

{{> footer}}
