{{> header}}
{{> navbar}}

<section class="flight">
    <div class="container py-5 h-100">
        <div class="container">
            <form method="post" action="/flight_plan/searchFlightForm">
                <div class="form-outline form-white mb-4" >
                <select id="departureCity" name="departure">
                    {{#departure}}
                    <option value={{departure}} selected>{{selectedDepartureName}}</option>
                    {{/departure}}
                    {{^departure}}
                    <option value=0 selected>Seleccione una ciudad de origen</option>
                    {{/departure}}
                    {{#cities}}
                    <option value={{id}}>{{name}}</option>
                    {{/cities}}
                </select>
                {{#emptyDepartureError}}
                <div style="color: red">
                    {{emptyDepartureError}}
                </div>
                {{/emptyDepartureError}}
                </div>
                <div class="form-outline form-white mb-4" >
                <select id="destinationCity" name="destination">
                    {{#destination}}
                    <option value={{destination}} selected>{{selectedDestinationName}}</option>
                    {{/destination}}
                    {{^destination}}
                    <option value=0 selected>Seleccione una ciudad de origen</option>
                    {{/destination}}
                    {{#cities}}
                    <option value={{id}}>{{name}}</option>
                    {{/cities}}
                </select>
                {{#emptyDestinationError}}
                <div style="color: red">
                    {{emptyDestinationError}}
                </div>
                {{/emptyDestinationError}}
                {{^emptyDestinationError}}
                {{#errors}}
                <div style="color: red">
                    {{sameLocations}}
                </div>
                {{/errors}}
                    {{#errors}}
                    <div style="color: red">
                        {{invalidJourney}}
                    </div>
                    {{/errors}}
                {{/emptyDestinationError}}
                </div>
                <div class="form-outline form-white mb-4" >
                <input type="week" name="week" id="week" value={{week}}>
                {{#emptyWeek}}
                <div style="color: red">
                    {{emptyWeek}}
                </div>
                {{/emptyWeek}}
                    {{#errors}}
                    <div style="color: red">
                        {{invalidWeek}}
                    </div>
                    {{/errors}}
                </div>
                <button class="btn btn-outline-light btn-lg" type="submit">Buscar</button>
            </form>
        </div>
    </div>

    <!--{{^enabledClient}}
    <div style="color: red">Aún no se ha realizado el chequeo médico. El código de viajero y nivel de vuelo es requerido.</div>
    <a class="nav-link" href="/medicalcheckup"><button>Realizar chequeo</button></a>
    {{/enabledClient}}-->

</section>

{{> footer}}