{{> header}}
{{> navbar}}

<section class="search-results">
    {{#empty}}
    <div style="color: red">{{error}}</div>
    {{/empty}}

    <table class='table'>
        <thead>
        <tr>
            <th scope="col">Día de partida</th>
            <th scope="col">Hora de partida</th>
            <th scope="col">Origen</th>
            <th scope="col">Destino</th>
            <th scope="col">Día de llegada</th>
            <th scope="col">Hora de llegada</th>
            <th scope="col">Nave</th>
            <th scope="col">Patente</th>
            <th scope="col">Tipo de viaje</th>
            <th scope="col">Tipo de equipo</th>
            <th scope="col"></th>
        </tr>
        </thead>
        {{#flight_plans}}

        <tr>
            <td>{{day}}</td>
            <td>{{time}}</td>
            <td>{{#name_departure}}{{name_departure}}{{/name_departure}}</td>
            <td>{{#name_destination}}{{name_destination}}{{/name_destination}}</td>
            <td>{{day2}}</td>
            <td>{{time2}}</td>
            <td>{{model}}</td>
            <td>{{domain}}</td>
            <td>{{type}}</td>
            <td>{{equipment}}</td>
            <td>
                <button type="button" class="btn btn-primary">
                    <a href="/ticket/selectCabinAndService?id={{id}}&date={{day}}&date2={{day2}}&time={{time}}&time2={{time2}}&departure={{#id_departure}}{{id_departure}}{{/id_departure}}&destination={{#id_destination}}{{id_destination}}{{/id_destination}}&week={{#week}}{{week}}{{/week}}&hours={{hours}}">
                        Continuar
                    </a>
                </button>
            </td>
        </tr>
        {{/flight_plans}}
    </table>
    {{#error}}
    <div style="color: red">{{error}}</div>
    {{/error}}
    <a href="/">
        <button type="submit">Volver</button>
    </a>
</section>

{{> footer}}