{{> header}}
{{> navbar}}

<section class="search-results">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id_flight</th>
        <th scope="col">id_flight_plan</th>
        <th scope="col">id_ship</th>
        <th scope="col">departure_date</th>
        <th scope="col">departure_hour</th>
      </tr>
    </thead>
    {{#flight}}
    <tr>
      <td>{{id_flight}}</td>
      <td>{{id_flight_plan}}</td>
      <td>{{id_ship}}</td>
      <td>{{departure_date}}</td>
      <td>{{departure_hour}}</td>
    </tr>
    <td>
      <a href="/flight_plan/flight_planConfirmation?id={{id}}&date={{day}}&time={{time}}&depart={{departure}}" style="color: black; text-decoration: underline aqua">Crear</a>
    </td>
    {{/flight}}
  </table>
  <table class='table'>
    <thead>
      <tr>
        <th scope="col">Día de partida</th>
        <th scope="col">Hora de partida</th>
        <th scope="col">Origen</th>
        <th scope="col">Nave</th>
        <th scope="col">Tipo de viaje</th>
        <th scope="col"></th>
      </tr>
    </thead>
    {{#flight_plans}}
    <tr>
      <td>{{day}}</td>
      <td>{{time}}</td>
      <td>{{departure}}</td>
      <td>{{model}}</td>
      <td>{{type}}</td>
      <td>
        <a href="/flight_plan/flight_planConfirmation?id={{id}}&date={{day}}&time={{time}}&depart={{departure}}" style="color: black; text-decoration: underline aqua">Crear</a>
      </td>
    </tr>
    {{/flight_plans}}
  </table>
  {{#error}}
  <div style="color: red">{{error}}</div>
  {{/error}}
  <a href="/">
    <button type="submit">Volver</button>
  </a>
</section>

{{> footer}}