{{> header}}
{{> navbar}}
<section>
   <{{#enabledClient}}
    <h1 style="color: green">{{enabledClient}}{{#id_flight}}{{id_flight}}{{/id_flight}}</h1>
    {{/enabledClient}}

    {{#disabledClient}}
    <h1 style="color: red">{{disabledClient}}</h1>
    <a class="nav-link" href="/medicalcheckup"><button>Realizar chequeo</button></a>
    {{/disabledClient}}

    {{#notLogged}}
    <h1 style="color: red">{{notLogged}}</h1>
    <a class="nav-link" href="/login"><button>Iniciar sesión</button></a>
    {{/notLogged}}

    <div class="container py-5 h-100">

        <div class="card">
            <div class="card-header gradient-custom text-white">
                <h5 class="my-1">¿Desea confirmar la siguiente reserva?</h5>
            </div>
            <div class="card-body">
                <table class='table'>
                    <thead>
                    <tr>
                        <th scope="col">Fecha de partida</th>
                        <th scope="col">Hora de partida</th>
                        <th scope="col">Origen</th>
                        <th scope="col">Fecha de llegada</th>
                        <th scope="col">Hora de llegada</th>
                        <th scope="col">Origen</th>
                     <!--   <th scope="col">Tipo de cabina</th>
                        <th scope="col">Servicio</th>-->
                    </tr>
                    </thead>
                    <tr>
                        <td>{{departure_date}}</td>
                        <td>{{departure_time}}</td>
                        <td>{{departure}}</td>
                        <td>{{arrival_date}}</td>
                        <td>{{arrival_time}}</td>
                      <!--  <td>{{type_cabin}}</td>
                        <td>{{service}}</td>-->
                        <td>
                            <a href="/flight_plan/flight_planConfirmation?id={{id_flight_plan}}&date={{departure_date}}&time={{departure_time}}&departure={{departure}}&destination={{#id_destination}}{{id_destination}}{{/id_destination}}&week={{#week}}{{week}}{{/week}}&hours={{hours}}"
                               style="color: black; text-decoration: underline aqua">Confirmar</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

</section>


{{> footer}}