{{> header}}
{{> navbar}}
<section class="checkup">
    <article>
        <form method="post" action="/medicalcheckup/makeAppointment">
            <p>
                <label for="date-input">Seleccione la fecha de su turno: </label>
                <input type="date" id="date-input" name="date" value={{date}}>
            </p>
            <p>
                {{#medicalCenter}}
                <label for="med-select">Su centro médico seleccionado fue: {{medicalCenter}}</label>
                {{/medicalCenter}}
                {{^medicalCenter}}
                <label for="med-select">Seleccione su centro médico más cercano: </label>
                {{/medicalCenter}}
                <select id="med-select" name="medicalCenter">
                    <option value="0" selected>Seleccione centro médico</option>
                    {{#medicalCenters}}
                    <option value={{id}}>{{name}}</option>
                    {{/medicalCenters}}
                </select>
            </p>
            <p>
                <button type="submit">Reservar turno</button>
            </p>
        </form>
    </article>
    <article>
        {{#errors}}
        <p style="color: red">{{.}}</p>
        {{/errors}}
    </article>
</section>
{{> footer}}