{{> header}}
{{> navbar}}
<section class="checkup">
  <form method="post" action="/medicalcheckup/getAppointment">
    <p>
      <label for="date">Seleccione una fecha para realizarse el chequeo médico</label>
    </p>
    <p>
      <input type="date" id="date" name="date">
    </p>
    <p>
      <select id="medical-center" name="medicalCenter">
        <option value="1" selected>Buenos Aires</option>
        <option value="2">Shanghái</option>
        <option value="3">Ankara</option>
      </select>
    </p>
    <p>
      <button type="submit">Reservar turno</button>
    </p>
    {{#error}}
    <p style='color: red'>{{error}}</p>
    {{/error}}
    {{#exito}}
    <p style='color: green'>{{exito}}</p>
    {{/exito}}
  </form>
</section>
{{> footer}}