{{> header}}
{{> navbar}}
<section class="vh-100 profile" style="background-color: #f4f5f7;">
  <div class="container py-5 h-10" >
    <div class="row d-flex justify-content-center align-items-center h-100" >
      <div class="col col-lg-8 mb-4 mb-lg-0" >
        <div class="card mb-3" style="border-radius: .5rem;" >
          <div class="card-header gradient-custom text-white">
            <h5 class="my-1">Información del precio</h5>
          </div>
          <div class="row g-0">
            {{#price}}
              <div class="card-body p-4 priceDiv">
                <div class="row pt-1">
                  <div class="col-6 mb-3 priceDiv">
                    <h5>Precio de cabina</h5>
                    <h4 class="text-muted">{{priceCabin}} <img class="imgPrice" src="/assets/img/credit.png"></h4>
                  </div>
                  <div class="col-6 mb-3 priceDiv">
                    <h5>Precio de servicio</h5>
                    <h5 class="text-muted">{{priceService}} <img class="imgPrice" src="/assets/img/credit.png"></h5>
                  </div>
                </div>
                <div class="row pt-1">
                  <div class="col-6 mb-3 priceDiv">
                    <h5>Precio por tramo</h5>
                    <h4 class="text-muted">{{segmentPrice}} <img class="imgPrice" src="/assets/img/credit.png"></h4>

                  </div>
                  <div class="col-6 mb-3 priceDiv">
                    <h5>Cantidad de pasajeros</h5>
                    <h4 class="text-muted">{{num_tickets}}</h4>
                  </div>
                </div>
                <div class="row pt-1">
                  <div class="col-6 mb-3 priceDiv">
                    <h5>Tramos</h5>
                    <h4 class="text-muted">{{segments}}</h4>
                  </div>
                  <div class="col-6 mb-3 priceDiv">
                    <h5>Total</h5>
                    <h4 class="text-muted"> <img class="imgPrice" src="/assets/img/credit.png">{{totalPriceInCredit}} (${{totalPrice}})</h4>
                  </div>
                </div>
                <button class="btn btn-outline-dark btn-m px-3" type="button">
                  <a href="/ticket/verifyEnabledClient" style="color: #bc9961">Continuar</a>
                </button>

              </div>
            {{/price}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{> footer}}