{{> header}}
{{> navbar}}
<section class="vh-100 profile" style="background-color: #f4f5f7;">
  <div class="container py-5 h-100">
    <div class="card">
      <div class="card-header gradient-custom text-white">
        <h5 class="my-1">Información del precio</h5>
      </div>
      <div class="card-body">
        <form action="/ticket/verifyEnabledClient" method="post">
          {{#price}}
          <div class="form-floating ">
            <div class="col-6 mb-3">
              <h6>Precio de cabina por tramo</h6>
              <p class="text-muted">${{priceCabin}}</p>
            </div>
            <div class="col-6 mb-3">
              <h6>Precio de servicio por tramo</h6>
              <p class="text-muted">${{priceService}}</p>
            </div>
            <div class="col-6 mb-3">
              <h6>Cantidad de personas</h6>
              <p class="text-muted">{{num_tickets}}</p>
            </div>
          </div>
          <div class="form-floating mt-4">
            <div class="col-6 mb-3">
              <h6>Precio por tramo</h6>
              <p class="text-muted">${{segmentPrice}}</p>
            </div>
            <div class="col-6 mb-3">
              <h6>Tramos</h6>
              <p class="text-muted">{{segments}}</p>
            </div>
            <div class="col-6 mb-3">
              <h6>Total</h6>
              <p class="text-muted">${{totalPrice}}</p>
            </div>
          </div>
          <div>
            <button class="btn btn-outline-dark btn-sm px-3 mt-4" type="submit">Pagar</button>
          </div>
          <a class="btn btn-outline-dark btn-sm px-3 mt-4" href="/flight_plan">Volver a buscar vuelo</a>
          {{/price}}
        </form>
      </div>
    </div>
  </div>
</section>
{{> footer}}