<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reportes</title>
</head>
<body>
  <h1>Seleccione el reporte a exportar a mostrar:</h1>
  <button><a href="/report/report1">Tasa de ocupación por viaje y equipo</a></button>
  <button><a href="/report/report2">Facturación Mensual</a></button>
  <button><a href="/report/report3">Cabina más vendida</a></button>
  <button><a href="/report/report4">Facturación por Cliente</a></button>
</body>
</html>