{{> header}}
{{> navbar}}
<section class="checkup vh-100 profile" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
        <div class="card">
            <div class="card-header gradient-custom text-white">
                <h5 class="my-1">Reportes</h5>
            </div>
            <div class="card-body">
                <button class="btn btn-outline-dark btn-sm px-2"><a href="/report/report1" style="color: darkcyan">Tasa
                    de ocupación por viaje y equipo</a></button>
                <button class="btn btn-outline-dark btn-sm px-2"><a href="/report/report2" style="color: darkcyan">Facturación
                    Mensual</a></button>
                <button class="btn btn-outline-dark btn-sm px-2"><a href="/report/report3" style="color: darkcyan">Cabina
                    más vendida</a></button>
                <button class="btn btn-outline-dark btn-sm px-2"><a href="/report/report4" style="color: darkcyan">Facturación
                    por Cliente</a></button>
            </div>
        </div>
    </div>
</section>
{{> footer}}