{{> header}}
{{> navbar}}

<section class="vh-100 tickets" style="background-color: #f4f5f7;">
    <div>
        <table class='table'>

            <thead>
            <tr>
                <th scope="col">Usuario</th>
                <th scope="col">Ticket</th>
            </tr>
            </thead>

            {{#tickets}}
            <tr>
                <td>{{user_nickname}}</td>
                <td>{{id_ticket}}</td>
            </tr>
            {{/tickets}}

        </table>
    </div>
</section>

{{> footer}}