{{> header}}
{{> navbar}}

<section class="checkup vh-100 profile" style="background-color: #f4f5f7;">
  <div class="container py-5 h-100">
    <div class="card">
      <div class="card-header gradient-custom text-white">
        <h5 class="my-1">Verificación cuenta</h5>
      </div>
      <div class="m-2">
        <h1 style="color: black">No se ha podido verificar su cuenta.</h1>
        <button class="btn btn-outline-dark btn-sm px-4" type="button">
          <a href="/login/getVerificationState" style="color: #d1b470">Reenviar email de verificación</a>
        </button>
      </div>
    </div>
  </div>
  </div>
</section>

{{> footer}}