{{> header}}
{{> navbar}}

<section class="checkup vh-100 profile" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
        <div class="card">
            <div class="card-header gradient-custom text-white">
                <h5 class="my-1">Verificación cuenta exitosa</h5>
            </div>
            <div class="m-2">
                <h1 style="color: black">¡Su cuenta se ha verificado con éxito!</h1>
            </div>
        </div>
    </div>
    </div>
</section>
{{> footer}}