{{> header}}
{{> navbar}}

<section class="checkup vh-100 profile" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
        <div class="card">
            <div class="card-header gradient-custom text-white">
                <h5 class="my-1">Verificacion email</h5>
            </div>
            <div class="m-2" >
                <h2 style="color: black">Se ha enviado un email de verificacion de cuenta a {{email}}</h2>
                <h3>Por favor, revise sus correos</h3>
            </div>
        </div>
    </div>
    </div>
</section>

{{> footer}}